                                  /* Main style sheet - Abi Mowbray Allton */

/* Media queries */ 
/* design sizes: Laptop 1920 x 1080, tablet 768 x1024, mobile 360 x640 */

/* Font:    */
@font-face {
    font-family: 'ebrima', sans-serif; 
    src: url(/fonts/ebrimadb.ttf);
}
@font-face {
    font-family: 'magneto', cursive;
    src: url(/fonts/MAGNETOB.ttf);
}

body, sub, i {
    font-family: 'ebrima', sans-serif !important;
	text-align: center;
}

h1 {
	font-family: 'magneto', cursive !important;
	font-size:3em;
}

h2{
	font-family: 'magneto', cursive !important;
	font-size:2.5em;
}

h3, h4, p{
	font-family: 'ebrima', sans-serif !important;
}	
	
}
a:link, a:visited {
	color: #663399;  /* rebeccapurple */
	text-decoration: none;
}

a:link:active, a:visited:active {
	color:	#696969;  /*dimgrey */
}	

        /* Carousel styling */
        #introCarousel,
        .carousel-inner,
        .carousel-item,
        .carousel-item.active {
          height: 100vh;
        }

        .carousel-item:nth-child(1) {
          background-image: url('img/pexels-nathan-engel-436413.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        .carousel-item:nth-child(2) {
          background-image: url('img/pexels-quark-studio-2507025.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        .carousel-item:nth-child(3) {
          background-image: url('img/pexels-pixabay-33129.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }

        /* Height for devices larger than 576px */
        @media (min-width: 992px) {
          #introCarousel {
            margin-top: -58.59px;
          }
          #introCarousel,
          .carousel-inner,
          .carousel-item,
          .carousel-item.active {
            height: 50vh;
          }
        }

.navbar .nav-link {
          color: #fff !important;
        }


nav {
    font-size: 1.5em;
} 

#searchbox  {
	background-color: #f8f9fa; /*light*/
    display: inline-block;
    box-shadow: none;
  }

.button:hover, #navact:hover, #searchbox:hover{
	background-color: #696969;  /*dimgrey */
    color: #f8f9fa; /*light*/
	}
	
.button:active {
  background-color: #663399; /* rebeccapurple */
  color: #f8f9fa; /*light*/
  box-shadow: 0 5px #663399; /* rebeccapurple */
  transform: translateY(4px);
}	


 
.footer {
    font-size-adjust: auto;
    vertical-align: middle;
    text-align: center;
    align-content: center;
	border-top: 1px solid #696969;  /*dimgrey */
}
/* general body text and link styles */
.caption {
    line-height: 80%; 
    font: 1em 'Open Sans' sans-serif;
}

/* Contact page form */
/*.emailForm{ 
    margin-left:5px;
    margin-bottom: 20px;
    float:left;
    border-radius:15px;
    border: 2px solid #17a2b8;
    
}*/

/* ***** MEDIA QUERIES FOR GALLERY IMAGES AND HOVER EFFECTS****  */
/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .card-text{ font-size: 0.2rem;
}
     .nav{ font-size: 0.2rem;
     }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .card-text{
      font-size: 0.4 rem;
     }
     .nav{ font-size: 0.4rem;
     }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .card-text{ font-size:0.6rem; 
    }
    .nav{ font-size: 0.6rem;
     }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-text{ font-size:1rem;
    }
    .nav{ font-size: 1rem;
     }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 .card-text{ font-size:1.5rem;  
    }
    .nav{ font-size: 1.5rem;
     }
}



